@model clanTournament.Models.GuardianModel
@{
    ViewBag.Title = "Tournament Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="bracket">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6 offset-3">
                <a href="/Home/CreateTeam/" class="btn btn-primary" style="width:100%;text-align:center;">Create a Team</a>
            </div>
            <br/>
            <div class="col-md-6 offset-3"">
                <a href="/Home/JoinTeam" class="btn btn-primary" style="width:100%;text-align:center;">Join a Team</a>
            </div>            
        </div>
    </div>
</section>